<div class="wrapper">
    
    <h2>Picture of burger goes here.</h2>
    <h3>Name of APP Eat-Da-Burger!</h3>
    <div class="innerWrapper">
        <div class="grid-container">
            <div class="item1">
                burgers added shown here
            </div>
            <div class="item2">
                devoured burgers shown here
            </div>
            <div class="item3">
                <form class="create-form">
                    <div class="form-group">
                        <input type="text" id="burgerName">
                    </div>

                    <button type="submit">Submit</button>
                </form>
                <p>Enter a burger you want to eat and click the "Submit" button.</p>
            </div>
        </div>
    </div>

</div>

