.card-header{
    background-color:green;
    color:white;
}

.burgerText{
    font-size: 1.2em;
}
.submitBtn{
    margin-top:20px;
}
/*
<div class="card-body">
                        <div class="row">
                            
                            <div class="col-md-9">
                                {{this.name}}
                            </div>
                            <div class="col-md-3">
                                <button data-id="{{this.id}}" class="m-1 float-right">Devour it!</button>
                            </div>
                        </div>
                    </div>*/